@import '../Main.scss';

.chart-apex{
    min-height: 380px;
    max-height: 380px !important;
    overflow-y: hidden;
    overflow-x: hidden;
}
  .layout-main {
    
    min-height: 750px;
    background: $white;
    border-radius: 10px;
    padding: 20px;
}
.card-content-header{
    background : $theme;
    height: 2.5rem;
    top : 0;
    font-size: 12px;
    color : $white;
    padding : 10px;
    margin-left : -15px;
    margin-right : -15px;
    margin-top : -15px;
    border-radius: 5px;
  }
  
  .card{
    
    .card-value{
      font-size: 15px;
      display: flex;
      justify-content: center;
      margin-top : -10px;
      margin-bottom : -10px;
    }
    .card-element{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    } 
  }
  .card-height{
    height: 98%;
  }
  .card-body{
    position: relative !important;
    height: auto !important;
    
  }
  .leaflet-container{
      height:  100%;
      position:relative !important; 
      background: $white !important;
    }
  .leaflet-control-attribution.leaflet-control{
    display: none;
  }
  .layout-main {
    
    min-height: 100%;
    background: $white_second;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
}
.bg-white{
    background-size: cover;
    box-shadow:  1px 1px 7px 0px  $white_second;
    opacity: 1;
   
  }
.bg-white:hover{
      top : -3px;
      animation-name : up-down;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.1s;
      
    }

